 /*this affects all of the page */
*{
   font-family: "museosans_md", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
/*navbar customanization*/
.navbar {
	font-size: 21px;
	font-weight: bold;
}
.dropdown-menu{
	transform:translateX(-37%);
}
.btn{
	font-weight: bold;
	transform:translateY(10%);
}


/* everything under here is for the main search tool */
#homeSearch {
	height: 100%;
	width: 100%;
}
#title{
	padding-top:100px;
	padding-bottom:50px;
	text-align:center;
}
.search{
	transform:translateY(85%);
}
/*for the search by category section*/
#byCategory{
	text-align:center;
	padding-top:100px;
}
.category{
	text-align:center;
}
/*different paddins with confusing names*/
.pad{
	padding-top:100px;
}
.padd{
	padding-top:50px;
}
.paddd{
	width:100%;
	height:200px;
}
/*education search page styling*/
#educationSearch{
	
}
/*loading page styling*/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loggingin{
	text-align:center;
}
